
<% var clientApp = "checkout" %>
<% var title = "Checkout" %>

<% include ../_header %>
<% include ../_navbar %>


<div class="checkout-background">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="box-container">
					<div class="checkout-title">Payment</div>
					<% if (errorMessage) { %>
						<div class="warning-title"> 
							<%= errorMessage %>
						</div>
					<% } %>
					<% include _checkoutSummary %>
					<hr>
					<% include _checkoutForm %>
				</div>
			</div>
		<div class="col-xs-12 col-md-4">
			<div class="box-container">
				<div class="checkout-title" style="text-align:center">Your Class</div>
					<% include _checkoutCourseSummary %>
			</div>
		</div>
		</div>
	</div>
</div>
<% include ../_footer %>