
<% var title = "Confirmation" %>

<% include ../_header %>
<% include ../_navbar %>


<div class="checkout-background">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="headline-courses">Get Excited for Your Workshop!</div>
				<div class="box-container confirmation-box">
					<img src="/images/happyGuy.png" style="width:40px">
					<div class="checkout-title">You're Registered</div>
					<div class="confirmation-subtitle">Check your email for course confirmation</div>
					<div class="confirmation-subtitle">Questions? Contact us </div>
				</div>
				<% include _confirmCourseListing %>
			</div>
		</div>
	</div>
</div>
<% include ../_footer %>